<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://farm6.staticflickr.com/5052/5523353515_53759a34b4.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>